/* Body and structure
-------------------------------------------------- */
body {
    padding-top: 10%;
    padding-bottom: 40px;
}

#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/wallpaper/1.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

.hero-unit-container {
    padding: 60px;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-linear-gradient( rgba(242, 242, 242, 0.9), rgba(222, 222, 222, 0.9));
}

/* Other
------------------------- */
#fan {
    position: absolute;
    bottom: 20px;
    right: 20px;
}